.App {
  text-align: center;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  background-color: white;
}
.Budget {
  background-color:white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
}
.Expenses {
  background-color:#ED8576;
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.Income {
  background-color: #76ED84;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
}
.InputContainer{
  background-color:#8576ED;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 10% 1fr 40%;
}
.InputSection {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 10% 1fr;
  align-items: center;
  justify-items: center;
}
.BudgetAmount{
  grid-column: 2 / 3;
}
.Transactions {
  grid-column: 1 / 4;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 10% 1fr;
}
.BottomSection {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.PieChart {
  grid-column: 1 / 2;
}
.Legend {
  grid-column: 2 / 4;
}

/* Square Colors */
.CarColorSquare {
  background-color: #ff5252;
  width: 20px;
  height: 20px;
  align-self: center;
}
.GasColorSquare {
  background-color: #448aff;
  width: 20px;
  height: 20px;
  align-self: center;
}
.RentColorSquare {
  background-color: #455a64;
  width: 20px;
  height: 20px;
  align-self: center;
}
.FoodColorSquare {
  background-color: #69f0ae;
  width: 20px;
  height: 20px;
  align-self: center;
}
.RepairsColorSquare {
  background-color: #ffff00;
  width: 20px;
  height: 20px;
  align-self: center;
}
.UtilitiesColorSquare {
  background-color: #40c4ff;
  width: 20px;
  height: 20px;
  align-self: center;
}
.LegendTitle {
  display: grid;
  grid-template-columns: 1fr;
}

.LegendTitle h3{
  justify-self: start;
}
.LegendSection {
  display: grid;
  grid-template-columns: 5% 1fr 20%;
  align-self: center;
}
.LegendRow {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr;
}
.Delete{
  color: red;
}
.IncomeItems {
  display: grid;
  grid-template-columns: 1fr;
}
.ExpenseItems {
  display: grid;
  grid-template-columns: 1fr;
}
.IncomeItem {
  justify-self: center;
  padding-right: 40px;
}
.ExpenseItem {
  justify-self: start;
}

.CategoryAndInput {
  display: grid;
  grid-column: 2 / 3;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.Select {
  justify-self: end;
  align-self: center
}
.Input {
  justify-self: start;
  align-self: center;
}
.Category {
  justify-self: end;
  align-self: center
}
.Dropdown {
  justify-self: start;
  align-self: center;
}
.SubmitButton {
  justify-self: start;
  align-self: center;
}

.ExpenseComponents {
  justify-self: center;
}
.ExpenseItems {
  justify-self: center;
  padding-right: 40px !important;
}
